.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 880px;
  margin: 0 auto 50px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
  }
}
