.popup__button-close {
  position: absolute;
  top: -40px;
  right: -40px;
  align-self: flex-end;
  background-image: url(../../../images/Close-Icon.svg);
  background-repeat: no-repeat;
  background-size: 33px 33px;
  width: 33px;
  height: 33px;
  border: 0;
  padding: 0;
  background-color: transparent;
  margin: 0;
  cursor: pointer;
  transition: all 0.2s linear;
}

.popup__button-close:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  .popup__button-close {
    position: absolute;
    top: -35px;
    right: 0;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
  }
}
