.card__button-delete {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/Trash.svg);
	background-repeat: no-repeat;
  align-self: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.card__button-delete:hover {
  opacity: 0.6;
}
