.form__button-save {
  max-width: 100%;
  min-height: 50px;
  font-size: 18px;
  line-height: 122%;
  margin: 18px 0 0;  /* 18px потому, что у меня высота ошибки 30px, 48 - 30 = 18px */
  padding: 0;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  border-radius: 2px;
  border: none;
  transition: opacity 0.3s linear;
}

@media screen and (max-width: 767px) {
  .form__button-save {
    margin-top: 15px;
    font-size: 14px;
  }
}

.form__button-save:hover {
  opacity: 0.8;
}

.form__button-save:disabled {
  background-color: #fff;
  color: #000;
  border-radius: 2px;
  border: 1px solid #000;
  opacity: 0.2;
  cursor: default;
}
